body,
html,
* {
    box-sizing: border-box;
    margin: 20;
    padding: 0;
}
.header{
    font-size: 100px;
    text-align: center;
    font-family: 'Croissant One', cursive;
    font-family: 'Lora', serif; 
    top: 20px;
    left: 0;
    animation: slide 10s linear infinite alternate;
}
.container2{
    transform: transform .3s ease-in-out;
    transition: 2s;
    text-align: center;
    margin: 30px;
    padding: 30px;
    position: relative;
}
.container{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}
.card{
    height: 500px;
    width: 20%;
    background-color: #BC8DA0;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #944161;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    font-family: 'Croissant One', cursive;
    font-family: 'Lora', serif; 
}
     .card-img{
     width: 80%;
     height: 50%;
 }
 section {
    transition: all 0.3s;
 }
 section:hover {
    transform: scale(1.5);
 }
 @keyframes slide {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 250px);
    }
}